@page
@model AdminModel
@{
    ViewData["Title"] = "Admin";
}

@Html.ValidationSummary()

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Person</th>
                <th>Gender</th>
                <th>Date</th>
                <th>Time</th>
                <th>Weight</th>
                <th>Has Paid</th>
                <th>Created Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var prediction in Model.Predictions)
            {
                <tr>
                    <td>
                        <span>
                            @prediction.Forename
                            @prediction.Surname
                        </span>
                    </td>
                    <td>
                        @prediction.Gender
                    </td>
                    <td>
                        @prediction.BirthDate.ToString("dd MMM yy")
                    </td>
                    <td>
                        @prediction.BirthTime.ToString(@"hh\:mm")
                    </td>
                    <td>
                        @prediction.BirthWeightInPounds lbs
                        &nbsp;
                        @prediction.BirthWeightInOuncesLessPounds oz
                    </td>
                    <td>
                        @if (prediction.HasPaid)
                        {
                            <span>Yes</span>
                        }
                        else
                        {
                            <span>No</span>
                        }
                    </td>
                    <td>
                        @prediction.CreatedDate.ToString("dd/MM/yyyy HH:mm:ss")
                    </td>
                    <td>
                        <div class="btn-toolbar" role="toolbar">

                            <!-- Delete -->
                            <form method="post">
                                <button type="submit"
                                        class="btn btn-default"
                                        asp-route-id="@prediction.Id"
                                        asp-page-handler="Delete">

                                    Delete
                                </button>
                            </form>

                            <!-- Mark as paid -->
                            @if (!prediction.HasPaid)
                            {
                                <form method="post">
                                    <button type="submit"
                                            class="btn btn-default"
                                            asp-route-id="@prediction.Id"
                                            asp-page-handler="Paid">

                                        Paid        
                                    </button>
                                </form>
                            }
                        </div>
                    </td>
                </tr>
            }      
        </tbody>
    </table>
</div>
